body {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 6%, rgba(0, 212, 255, 1) 100%);
    max-width: 80%;
    margin: 0 auto;
    font-family: arial;
    color: white;
}

.diary__link {
    color: white;
}

.navigation {
    display: flex;
    justify-content: center;
    margin: 16px auto 0;
    max-width: 50vw;
    width: 100%;
    align-items: center;
}

.navigation__link {
    text-decoration: none;
    margin: 0 16px;
    color: white;
}