body {
    background-color: #fefefe;
    max-width: 80%;
    margin: 0 auto;
}

h1 {
    color: tomato;
}

h2 {
    color: #1460AA;
}

p {
    color: darkblue;
}

.header {
    background-color: violet;
}