body {
    background-color: #fefefe;
    max-width: 80%;
    margin: 0 auto;
}

.heading {
    color: tomato;
}

.about__heading,
.diary__heading {
    color: #1460AA;
}

.about__paragraph,
.diary__paragraph {
    color: darkblue;
}

.diary__paragraph--color {
    color: red;
}

.header {
    background-color: violet;
}